<launch>
    
		<!---
		Simulation
    Sim Time
		Execute rosbag file:
		rosbag play 1.bag  clock topic /velodyne_points /imu/data
    <param name="/use_sim_time" value="true" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_base_loam" args="0 0 0 0 0 0 base_loam base_link" />
		-->
    <arg name="show_rviz" default="false" />

    <param name="/use_sim_time" value="false" />

    <!--- TF -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_tf"  args="0 0 0 0 0 0 map    odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_init_to_map"  args="-0.291 0.010 0.897 1.570759 0 1.570759 map camera_init" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="loam_base_tf"  args="-0.010 -0.897 0.291 0 -1.570759 -1.570759 vel_loam base_loam" />
    

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="loam_base_tf"  args="-0.010 -0.897 0.291 0 -1.570759 -1.570759 vel_loam base_loam" /> -->
		<!---
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="-0.291 0.010 0.897 1.570759 0 1.570759 base_link vel_loam 10" />
		<node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 /map    /camera_init 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        /camera /base_link   10" />
		-->
    <!--- Run Rviz-->
    <group if="$(arg show_rviz)">
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lego_loam)/launch/husky-line-coverage.rviz" />
    </group>

    <!--- LeGO-LOAM -->    
    <node pkg="lego_loam" type="imageProjection"    name="imageProjection"    output="screen"/>
    <node pkg="lego_loam" type="featureAssociation" name="featureAssociation" output="screen"/>
    <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen" />
		<!---
		-->
    <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen"/>

</launch>
